/* -------------- Formulário ---------------- */

.formulario-info-user {
    display: block;
    width: 90%;
    margin: 1vh auto;
    font-family: var(--fonte-corpo);
    font-size: 1em;
}

.campo-formulario {
    display: flex;
    flex-direction: column;
    margin: 3vh auto;
    width: 90%;
}

.campo-formulario > label {
    margin-left: 6vw;
    font-size: 0.9em;
}

.campo-formulario > input {
    font-size: 1em;
    padding: 3% 5%;
    border-radius: 20px;
    margin: 1vh 2vw;
    border: none;
}

.campo-formulario > input:focus {
    border: 1px solid var(--giants-orange);
}

.campo-formulario > input:user-invalid {
    border: 1px solid var(--cor-erro);
}

.campo-formulario > .formulario_erro {
    font-size: 0.8rem;
    color: var(--cor-erro);
    margin-left: 5vw;
}

.botao-formulario {
    display: block;
    margin: 1vh auto;
    padding: 1vmax 5vmax;
    font-family: var(--fonte-nadave);
    font-size: 1.3em;
    border: none;
    border-radius: 20px;
    color: var(--branco);
    background: var(--moonstone);
    transition: all 0.5s;
}

.botao-formulario:hover, .botao-formulario:active {
    color: var(--giants-orange);
    background-color: var(--sapphire);
    box-shadow: 2px 2px 3px var(--oxford-blue);
}

/* ------------------------------- furmulario */

@media only screen and (min-width: 600px) {
    form.formulario-info-user {
        font-size: 0.9em;
    }

    .campo-formulario > input {
        padding: 2% 4%;
    }
    
}

@media only screen and (min-width: 1300px) {
    .formulario-info-user{
        font-size: 1rem;
        max-width: 700px;
    }
    
    .campo-formulario {
        font-size: 1rem;
        margin: 6vh auto;
    }
    
    .campo-formulario > label {
        font-size: 1rem;
    }
}