/* ------------------- Conteúdo Principal --------------------- */

.lista-conteudo {
    list-style-type: disc;
    list-style-position: inside;
    margin: 1vh 1vw;
}

q.texto-citacao {
    font-style: italic;
}

.texto-citacao::before {
    content: "\"";
}

.texto-citacao::after {
    content: "\"";
}

.citacao-autor {
    margin-bottom: 2vh;
    text-align: right;
}

.secao_destaque {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    h4 {
        max-width: 40%;
    }
}

.texto-destaque {
    font-family: var(--fonte-nadave);
    color: var(--branco);
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
    text-shadow: 2px 2px 3px var(--moonstone), 3px 3px 4px var(--giants-orange);
}

.botao-destaque {
    padding: 2vh 3vmin;
    color: var(--branco);
    background-color: var(--moonstone);
}

.botao-destaque:hover, .botao-destaque:active{
    background-color: var(--sapphire);
    box-shadow: 2px 2px 3px var(--preto);
    color: var(--giants-orange);
}

/* ------- Ilustrações e imagens de conteúdo -------- */

.box-conteudo-imagem {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

div.ilustracao {
    margin: 0 3vmin;
    min-height: 100px;
    max-width: 100px;
    min-width: 80px;
    width: 30%;
}

.imagem-texto-I {
    background-image: url(../imgs/progamador_100.png);
    background-repeat: no-repeat;
    background-position: center;
}

.imagem-texto-II {
    background-image: url(../imgs/computador_80.png);
    background-repeat: no-repeat;
    background-position: center;
}

.imagem-texto-III {
    background-image: url(../imgs/grafico_100.png);
    background-repeat: no-repeat;
    background-position: center;
}

.imagem-texto-IV {
    background-image: url(../imgs/raquer_100.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* -----------------------------------imagensconteudos */

/* ----------------------------------------- conteudoprincipal */

@media only screen and (min-width: 600px){
    q.texto-conteudo, p.citacao-autor {
        width: 90%;
    }
}

@media only screen and (min-width: 1300px) {
    
    
    .citacao-autor {
        margin-bottom: 4vh;
    }

    .secao_destaque {
        margin-top: 2vh;
        justify-content: center;
        gap: 10vw;
    }

    q.texto-citacao, p.citacao-autor {
        margin: 2vh auto;
    }

    q.texto-citacao {
        text-align: center;
    }

     p.citacao-autor {
        margin-bottom: 4vh;
    }

}